@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
  --color-bg: beige;
  --color-bg-variant: rgb(117, 117, 117);

  --color-primary: black;
  --color-primary-variant: white;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  margin: 0 auto;

  /* background-image: url(../src/assets/bg-texture.png); */
  background-color: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.btn {
  margin: 0 0.5rem;
}